[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aniso8601 = "*"
asgiref = "*"
djangorestframework = "*"
graphene = "==2.1.8"
graphene-django = "==2.13.0"
graphql-core = "==2.3.2"
graphql-relay = "==2.0.1"
promise = "*"
pytz = "*"
rx = "*"
singledispatch = "*"
six = "*"
sqlparse = "*"
Django = "*"
Unidecode = "*"
model-mommy = "*"
coverage = "*"

[requires]
python_version = "3.8"
